[credential]
{{ if eq .chezmoi.os "linux" }} 
    helper = store
{{ else }}
    helper = osxkeychain
{{ end }}

[column]
    ui = auto

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    true-color = always

    navigate = true    # use n and N to move between diff sections
    line-numbers = true
    hyperlinks = true

    commit-decoration-style = bold yellow box ul
    file-style = bold yellow
    file-decoration-style = bold yellow box
    hunk-header-decoration-style = 
    # side-by-side = true

    # tokyonight
    ; minus-style                   = syntax "#37222c"
    ; minus-non-emph-style          = syntax "#37222c"
    ; minus-emph-style              = syntax "#713137"
    ; minus-empty-line-marker-style = syntax "#37222c"
    ; line-numbers-minus-style      = "#914c54"
    ; plus-style                    = syntax "#20303b"
    ; plus-non-emph-style           = syntax "#20303b"
    ; plus-emph-style               = syntax "#2c5a66"
    ; plus-empty-line-marker-style  = syntax "#20303b"
    ; line-numbers-plus-style       = "#449dab"
    ; line-numbers-zero-style       = "#3b4261"

    git-moved-from-style = bold purple
    git-moved-to-style = bold cyan

    map-styles = "git-moved-from-style => syntax #2b0331, \
                  git-moved-to-style => syntax #001d36"

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
    conflictstyle = zdiff3

[diff]
    algorithm = minimal #histogram
    colorMoved = blocks
    colorMovedWs = allow-indentation-change
    mnemonicPrefix = true
    renames = true

[branch]
    sort = -committerdate

[tag]
    sort = version:refname

[push]
    default = simple
    autoSetupRemote = true
    followTags = true

[fetch]
    prune = true
    pruneTags = true
    all = true

[pull]
	rebase = false

[init]
    defaultBranch = main

[help]
    autocorrect = prompt

[commit]
    verbose = true

[rerere]
    enabled = true
    autoupdate = true

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

[user]
	name = Luke Joshua
[includeIf "gitdir:~/projects/nova/"]
    path = .gitconfig-nova

