[credential]
{{ if eq .chezmoi.os "linux" }} 
    helper = store
{{ else }}
    helper = osxkeychain
{{ end }}

[pull]
	rebase = false
[init]
    defaultBranch = main

[user]
	name = Luke Joshua
[includeIf "gitdir:~/projects/nova/"]
    path = .gitconfig-nova

