tap "homebrew/bundle"
tap "FelixKratz/formulae"

formulae =  [
    "chezmoi",
    "fish",
    "neovim",

    "tmux",
    "zellij",
    "sketchybar",
    "svim",

    "gh",
    "lazygit",

    "fzf",
    "zoxide",
    "ripgrep",
    "fd",
    "eza",
    "bat",
    "bat-extras",
    "tldr",
    "jq",
    "slides",
    "chafa",

    "asdf",

    # asdf dependencies:
    "coreutils",
    "curl",
    "git",
    "git-delta",
    "cloc",
    "oven-sh/bun/bun",

    # asdf nodejs dependencies:
    "gawk",
    "gpg",
    "bash",
    "gcc",
    "zig"
]

casks = [
    "font-jetbrains-mono-nerd-font",
    "font-monaspace-nerd-font",
    "font-noto-sans-symbols-2",
    "font-hack-nerd-font",

    "wezterm",
    "ghostty",
    "obsidian",
    "spotify",

    "raycast",
    "nikitabobko/tap/aerospace",

    "rancher",
    "mockoon",
    "slack",
    "miro",
    "chatgpt",
    "ollama",
    "cursor",

    "arc",
    "firefox",
    "google-chrome",

    "dotnet-sdk"
]

formulae.each do |formula|
    brew formula
end

casks.each do |c|
    cask c
end

