#!/usr/bin/env fish

# .tool-versions hash to create a dependency: {{ include "dot_tool-versions" | sha256sum }}

if test -f '.tool-versions'
    while read -l line
        asdf plugin add (string split --fields 1 ' ' $line)
    end <'.tool-versions'
    asdf install
else
    echo ".tool-versions file not found"
end
