#!/usr/bin/env bash

# Abort if any command fails
set -e

echo "Installing homebrew..."
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
echo "✅ Installed homebrew"
